.App {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  padding-top: 33px;
}
.card {
  background-color: #f8f9fa;
  border: 0.5px solid #ced4da;
  border-radius: 20px;
  width: 500px;
  padding: 20px;
  margin-bottom: 12px;
}
.card div {
  margin-bottom: 12px;
}
.card .title {
  color: #212529;
  font-size: 18px;
  line-height: 21px;
  font-weight: 600;
  margin-right: 12px;
}
.card .content {
  display: inline-block;
  color: #212529;
  font-size: 18px;
  line-height: 21px;
}

.card p {
  margin : 0px;
}